<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
		<script type="text/javascript" src="/js/script.js" defer></script>
    <meta charset="utf-8" />
    <title>Airbnb</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
