<!-- <div class="bg-success bg-opacity-75"> -->
<style >
  body {
    /* background-image: url('https://us.123rf.com/450wm/kesu87/kesu872004/kesu87200400099/144519148-fondo-de-comida-asiática-con-varios-ingredientes-sobre-fondo-de-madera-rústica-vista-superior-.jpg?ver=6'); */
		background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
		--bs-bg-opacity: 0.5;
  }
</style>
<div class="position-absolute top-50 start-50 translate-middle">
<a href="/menu"><h1 class="fs-5 mb-4">Welcome to the garden cafe</h1></a>
</div>
<form action="/menu" method="get">
<div class="position-absolute bottom-0 start-50 translate-middle-x">
  <button class="btn btn-light">ORDER NOW</button>
</div>
</form>
<!-- </div> -->
